/.env

/env
__pycache__/

/view/node_modules

/view/.pnp
/view/.pnp.js

/view/coverage

/view/.next/
/view/out/

/view/build

/view/.DS_Store
/view/*.pem

/view/npm-debug.log*
/view/yarn-debug.log*
/view/yarn-error.log*
/view/.pnpm-debug.log*

/view/.env*.local

/view/.vercel

/view/*.tsbuildinfo
/view/next-env.d.ts


