/.env

/backend/env
/**/__pycache__/

/frontend/view/node_modules

/frontend/view/.pnp
/frontend/view/.pnp.js

/frontend/view/coverage

/frontend/view/.next/
/frontend/view/out/

/frontend/view/build

/frontend/view/.DS_Store
/frontend/view/*.pem

/frontend/view/npm-debug.log*
/frontend/view/yarn-debug.log*
/frontend/view/yarn-error.log*
/frontend/view/.pnpm-debug.log*

/frontend/view/.env*.local

/frontend/view/.vercel

/frontend/view/*.tsbuildinfo
/frontend/view/next-env.d.ts