.first__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.678);
}

.second__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99998;
    background-color: rgba(0, 0, 0, 0.678);
}

.first__layer.visible, .second__layer.visible {
    display: block;
}

.first__layer.invisible, .second__layer.invisible {
    display: none;
}

@media only screen and (max-width: 994px) {
    .first__layer, .second__layer {
        height: 126%;
    }
}

@media only screen and (max-width: 765px) {
    .first__layer, .second__layer {
        height: 135%;
    }
}